#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-title {
  display: flex;
  font-size: 34px;
  font-weight: 700;
  margin-block-start: 50px;
}

.home-subtitle {
  display: flex;
  font-size: 14px;
}

.candidates-list{
  width:40%;
  margin-block-start: 30px;
}

@media only screen and (max-width:844px) {
  .home-title {
    font-size: 20px;
    
  }
  .candidates-list {
    width: 90%;
  }
  
  .home-title {
    font-size: 20px;
  }
  
}