#navbar {
  border-bottom: 1px solid grey;
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
  width: 100%;
}

@media only screen and (max-width: 844px) {
  #navbar {
    font-size: 0.4rem;
    padding: 0.4rem;
  }
};
  
